@charset "utf-8";
/* CSS Document */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
*,body{
	padding:0px;
	margin:0px;
}
html {
	/* height: 2160px; width: 3840px; */
	font-size: 16px;
	height: 100%;
    width: 100%;
}
li{ list-style-type:none;}
table{}
i{ margin:0px; padding:0px; text-indent:0px;}
img {
	vertical-align: middle;
	max-width: 100%;
	height: auto;
}
a{ text-decoration:none; color:#3c5b79;}
a.active,a:focus{ outline:none!important; text-decoration:none;}
ol,ul,p,h1,h2,h3,h4,h5,h6{ padding:0; margin:0;font-weight: normal;}
a:hover{ color:#06c; text-decoration: none!important}


.clearfix:after, .clearfix:before {
	display: table;
	content: " "
}
 .clearfix:after {
	clear: both
}
.pulll_left{float:left;}
.pulll_right{float:right;}
/*谷哥滚动条样式*/

  ::-webkit-scrollbar {width:5px;height:5px;position:absolute}
  ::-webkit-scrollbar-thumb {background-color:#5bc0de}
  ::-webkit-scrollbar-track {background-color:#ddd}
/***/
@font-face {
  font-family: "PingFang";
  src: url(../font/PingFang_Regular.ttf);
}

body {
  font-size: 14px;
}
.screen-main {
  box-sizing: border-box;
	position: absolute;
	-webkit-transform-origin:top left;
	height: 100%;
	width: 100%;
  color:#fff;
  /* background: #386FAE; */
  background-size: 100% 100%;
}
.main-top {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	height: 70px;
	width: 100%;
	background: url(../image/main-top-bg.png) no-repeat;
	background-size: 100% 100%;
}
.main-content {
	height: calc(100% - 70px);
	padding-bottom: 40px;
	width: 100%;
	display: flex;
	justify-content:space-between;
	position: absolute;
}
.h2-header-bg {
	font-size: 18px;
	font-weight: bold;
}
.h3-header-bg1 {
	font-size: 14px;
	color: #23A0FF;
	margin: 15px 0;
}
.h3-header-bg2 {
	font-size: 14px;
	color: #75B7FF;
	background: url(../image/h3-header-bg2.png) no-repeat;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-indent: 10px;
}
.main-left {
	width: 420px;
	height: 100%;
	display: flex;
	margin-left: 30px;
	background-color:rgba(15,28,56, .5);
	border-radius: 5px;
}
.main-left > aside {
	width: 100%;
	height: calc(100% - 20px);
	margin: 10px;
	background-color: rgba(1, 1, 20, .3);
}
.statistic-analysis {
	padding: 10px;
}
.statistic-analysis article ul {
	display: flex;
}
.statistic-analysis article ul li {
	width: 33%;
	text-align: center;
	line-height: 30px;
	color: #93D0FF;
}
.statistic-analysis article ul li p {
	color: #F6F148;
	font-size: 26px;
	background: url(../image/statistic-icon1.png) no-repeat center bottom;
	text-align: center;
	width: 50%;
	margin: 0 auto;
}
.statistic-analysis article ul li:nth-child(2) p {
	background: url(../image/statistic-icon2.png) no-repeat center bottom;
	color: #1AF8F8;
}
.statistic-analysis article ul li:nth-child(3) p {
	background: url(../image/statistic-icon3.png) no-repeat center bottom;
	color: #76FFCD;
}

/* 分时流量 */
.time-sharing-flow  {
	position: relative;
}
.time-sharing-flow article {
	height: calc(100% - 25px);
}
.time-sharing-flow > div {
	display: flex;
	position: absolute;
	top: 35px;
	right: 0;
	align-items: center;
}
.time-sharing-flow > div a {
	width: 20px;
	height: 2px;
	background-color: #00F5FA;
	display: inline-block;
}
.time-sharing-flow > div p {
	font-size: 12px;
	color: #93D0FF;
	margin: 0 15px 0 5px;
}
.time-sharing-flow > div span {
	width: 20px;
	height: 2px;
	display: inline-block;
	background-color: #F7B500;
}
/* 园区车流量统计 */
.traffic-flow-statistics {
	height: 35%;
	display: flex;
}
.traffic-flow-statistics ul {
	display: flex;
	width: 70%;
	justify-content: space-around;
	text-align: center;
}
.traffic-flow-statistics ul p {
	color: #93D0FF;
	line-height: 40px;
}
.traffic-flow-statistics ul span {
	color: #00EEFF;
	font-size: 25px;
}
.traffic-flow-statistics ul span::after {
	content: '辆';
	font-size: 14px;
  padding-left: 5px;
}
.traffic-flow-statistics > div {
	width: 30%;
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
}
.traffic-flow-statistics > div span {
	width: 80%;
	display: block;
	height: 25px;
	line-height: 25px;
	color: #D8F0FF;
	border-left: 2px solid#6E7A83;
	margin: 5px 0;
	padding-left: 25px;
	position: relative;
}
.traffic-flow-statistics > div span::before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	left: 10px;
	margin-top: -4px;
	top: 50%;
	background-color: #00D5FF;
}
.traffic-flow-statistics > div span:nth-child(2)::before {
	background-color: #1978E5;
}
.traffic-flow-chart {
	height: 65%;
}
.security-equipment-monitoring ul{
	height: calc(100% - 25px);
	display: flex;
	justify-content: space-around;
}
.security-equipment-monitoring ul li {
	width: 25%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #93D0FF;
	align-content: space-evenly;
}
.security-equipment-monitoring ul li span {
	display: block;
	color: #fff;
	height: 50px;
	line-height: 50px;
	width: 50px;
	margin: 0 auto;
	font-size: 16px;
	background: url(../image/green-bg.png) no-repeat;
}
.security-equipment-monitoring ul li:nth-child(3) span {
	background: url(../image/yellow-bg.png) no-repeat;
}
.security-equipment-monitoring ul li:nth-child(4) span {
	background: url(../image/blue-bg.png) no-repeat;
}
.security-equipment-monitoring ul li p {
	width: 100%;
}

.main-right {
	width: 370px;
	height: 100%;
	display: flex;
	margin-right: 30px;
	background-color:rgba(15,28,56, .5);
	border-radius: 5px;
}
.main-right > aside {
	width: 100%;
	height: calc(100% - 20px);
	margin: 10px;
	background-color: rgba(1, 1, 20, .3);
}
.real-time-monitoring {
	padding: 10px 15px;
}
.real-time-monitoring h2 {
	margin-bottom: 20px;
}
.real-time-monitoring ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.real-time-monitoring ul li {
	width: 48%;
}
.real-time-monitoring ul li video {
	width: 100%;
	height: 90px;
}
.real-time-monitoring ul li p {
	color: #93D0FF;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	position: relative;
	text-indent: 20px;
}
.real-time-monitoring ul li p::before {
	display: block;
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #00C8FF;
	position: absolute;
	left: 5px;
	top: 50%;
	margin-top: -4px;
}

/* 园区车辆入场报备 */
.report-traffic-flow article {
	height: calc(100% - 25px);
}
#reportTrafficFlow > div {
	height: 90% !important;
	margin: 5% 0 !important;
}
.report-traffic-flow article ul {
	height: 100%;
}
.report-traffic-flow article li {
	display: flex;
	text-align: left;
	padding-left: 20px;
	height: 28px;
}
.report-traffic-flow article li > span:nth-child(3) {
	width: 35%;
}
.report-traffic-flow article li > span {
	width: 25%;
	color: #23A0FF;
}
.report-traffic-flow article li p {
	width: 40%;
	letter-spacing: 3px;
	color: #93D0FF;
}

/* 商品库存类别占比情况 */
.inventory-class {
	height: calc(100% - 25px);
	display: flex;
	align-items: center;
	position: relative;
}
.inventory-class > p {
	height: 100%;
	width: 55%;
}
.inventory-class > div {
	height: 65%;
	width: 45%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.inventory-class > div p {
	position: relative;
	display: flex;
	width: 100%;
	line-height: 20px;
	padding: 0 0 0 30px;
	background: linear-gradient(90deg, #19222F 0%, rgba(30,41,56,0) 100%);
}
.inventory-class > div p::before {
	content: '';
	width: 10px;
	height: 10px;
	background-color: #05CFF7;
	position: absolute;
	top: 50%;
	margin-top: -5px;
	left: 15px;
}
.inventory-class > div p:nth-child(2)::before {
	background-color: #1978E5;
}
.inventory-class > div p:nth-child(3)::before {
	background-color: #EAB966;
}
.inventory-class > div p:nth-child(4)::before {
	background-color: #60B45E;
}
.inventory-class > div p:nth-child(5)::before {
	background-color: #BECDD0;
}
.inventory-class > div p span {
	min-width: 80px;
	display: inline-block;
	font-size: 12px;
}
.inventory-class > div p a{
	display: inline-block;
	font-size: 12px;
}
.inventory-class > div p:nth-child(1) a{
	color: #05CFF7;
}
.inventory-class > div p:nth-child(2) a{
	color: #1978E5;
}
.inventory-class > div p:nth-child(3) a{
	color: #EAB966;
}
.inventory-class > div p:nth-child(4) a{
	color: #60B45E;
}
.inventory-class > div p:nth-child(5) a {
	color: #BECDD0;
}
.inventory-class article {
	position: absolute;
	top: 0px;
	left: 0;
	width: 55%;
	height: 100%;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	text-align: center;
}
.inventory-class article p {
	width: 100%;
	line-height: 26px;
  font-size: 20px;
}
.inventory-class article span {
	font-size: 12px;
	display: block;
	margin: 0 auto;
	color: #727D89;
	line-height: 20px;
} 
